# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Project runtime artifacts
cache/
*.npy
 

# Hugging Face / model downloads 
.cache/
*.bin
*.safetensors

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env / secrets
.env
*.key